.levi, .shikamaru, .miki{
  width: 200px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 0px;
  margin-left: 8px;
}
.name{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 8px;
}
.stats{
  display: inline-block;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  margin-left: 8px;
  margin-left: 0px;
}
.button{
  display: block;
  background-color: rgb(24, 119, 242);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: opacity, 0.25s;
}
.button:hover{
  opacity: 0.7;
}
.button:active{
  opacity: 0.5;
}
.AOT, .naruto, .devilman{
  display: inline-block;
}
.Google{
  text-align: center;
}
.google{
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-bar{
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 20px;
  border-style: none;
  box-shadow:0 1px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.search{
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.feeling{
  background-color: rgb(245, 245, 245);
  border: none;
  font-size: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}
.thumbnail{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 40px;
  display: inline-block;
  vertical-align: middle;
}
