div{
  font-family: Arial, Helvetica, sans-serif;
}
.header{
  display: flex;
  flex-direction: row;
  background-color: rgb(120, 82, 178);
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.home-link{
  font-weight: bold;
}
.text-box{
  width: 500px;
  height: 30px;
  border-radius: 15px;
  border-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.download-button{
  background-color: rgb(120, 82, 178);
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.profile-picture{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 70px;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.name{
  font-weight: bold;
  margin-bottom: 7px;
}
.info{
  width: 200px;
  margin-left: 20px;
}
.handle, .category{
  color: grey;
  font-size: 15px;
  margin-bottom: 5px;
}
.follow-button{
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}