.video-details{
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 20px;
}
.fifa23{
  width: 100%;
}
.video-title{
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  width: 300px;
  color: #0F0F0F;
  margin-top: 5px;
  margin-bottom: 5px;
}
.video-stats{
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #606060;
  margin-top: 5px;
}
.thumbnail{
  display: inline-block;
  border-radius: 40px;
  width: 20px;
  vertical-align: middle;
}
.video-author{
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #606060;
  margin-top: 5px;
}
.youtube-video{
  display: inline-block;
}
